<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TEACHER STUDENT ANNOUNCE page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
<form class="row g-3" action="#" th:action="@{/authentication/logout}" method="POST">
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-info" type="submit">Wyloguj!</button>
    </div>
</form>
<h1 class="text-center">Twój uczeń jest zapisany na konkurs.</h1><br>
<h2 class="text-center">Poniżej szczegóły zgłoszenia.</h2><br>
<div>
    <table class="table table-success table-striped table-hover">
        <thead>
        <tr class="table-success">
            <th scope="col">Konkurs</th>
            <th scope="col">Nauczyciel zgłaszający</th>
            <th scope="col">Zgłoszony uczeń</th>
            <th scope="col">Klasa występu</th>
            <th scope="col">Zgłoszone utwory</th>
            <th scope="col">Publikacja wyników</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success" th:object="${applicationFormDto}">
            <td th:text="${applicationFormDto.competition.competitionName}"></td>
            <td th:text="${applicationFormDto.teacher.name} + ' ' + ${applicationFormDto.teacher.surname}"></td>
            <td th:text="${applicationFormDto.student.name} + ' ' + ${applicationFormDto.student.surname}"></td>
            <td th:text="${applicationFormDto.classLevel.getClassLevel()}"></td>
            <td th:text="${applicationFormDto.performancePieces}"></td>
            <td th:text="${#temporals.format(applicationFormDto.competition.competitionResultAnnouncement, 'dd-MM-yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div><br>
<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" th:href="@{/teacher}" role="button">Portal Nauczyciela</a>
    <a class="btn btn-success" th:href="@{/teacher/student/competition/search}" role="button">Wyszukiwanie konkursów</a>
</div>
</body>
</html>