<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login LOGOUT page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
<p><h1 class="text-center">Poprawnie wylogowano!</h1><br></p>


<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" th:href="@{/authentication/login}" role="button">Portal Konkursów Muzycznych</a>
</div>

</body>
</html>