<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>HEADMASTER COMPETITION FILTER page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
<form class="row g-3" action="#" th:action="@{/authentication/logout}" method="POST">
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-info" type="submit">Wyloguj!</button>
    </div>
</form>
<h1 class="text-center">Teraz wybierz konkurs, którego chcesz poznać wyniki.</h1><br>
<h2 class="text-center">Po kliknięciu przejdziesz na stronę z wynikami.</h2>
<div th:if="${#lists.isEmpty(competitionDTOs)}" class="text-bg-info p-3">
    <h4 class="text-center">Brak konkursów z podanymi kryteriami!</h4>
</div><br>

<div class="text-center" th:unless="${#lists.isEmpty(competitionDTOs)}">
    <form class="row g-2 was-validated" action="#" th:action="@{/headmaster/competition/check/result}" method="POST">
        <div class="container">
            <table class="table table-striped table-primary table-hover">
                <tr>
                    <th>Konkurs</th>
                    <th>Instrument</th>
                    <th>Online</th>
                    <th>I stopień</th>
                    <th>II stopień</th>
                    <th>Organizator</th>
                    <th>Lokalizacja</th>
                    <th>Miasto</th>
                    <th>Wybierz</th>
                </tr>
                <tr th:each="competition : ${competitionDTOs}">
                    <td th:text="${competition.competitionName}"></td>
                    <td th:text="${competition.competitionInstrument}"></td>
                    <td th:if="${competition.competitionOnline==true}">TAK</td>
                    <td th:if="${competition.competitionOnline==false}">NIE</td>
                    <td th:if="${competition.competitionPrimaryDegree==true}">TAK</td>
                    <td th:if="${competition.competitionPrimaryDegree==false}">NIE</td>
                    <td th:if="${competition.competitionSecondaryDegree==true}">TAK</td>
                    <td th:if="${competition.competitionSecondaryDegree==false}">NIE</td>
                    <td th:text="${competition.competitionOrganizer.name} + ' ' + ${competition.competitionOrganizer.surname}"></td>
                    <td th:text="${competition.competitionLocationName}"></td>
                    <td th:text="${competition.addressCity}"></td>
                    <td class="text-center">
                        <input type="radio" class="form-check-input" th:name="competitionId" th:value="${competition.competitionId}"
                               id="checkCompetition" autocomplete="off" required>
                        <label class="form-check-label" for="checkCompetition"></label>
                    </td>
                </tr>
            </table>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-info btn-lg" type="submit">Sprawdź wyniki wybranego konkursu</button>
                </div>
        </div>
    </form>
    </div><br>
<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" th:href="@{/headmaster}" role="button">Portal Dyrektora</a>
    <a class="btn btn-success" th:href="@{/headmaster/competition/check}" role="button">Strona wyników</a>
</div>
</body>
</html>